Brotli==1.1.0
click==8.0.4
dash==0.36.0
dash-core-components==0.43.0
dash-daq==0.1.0
dash-html-components==0.13.5
dash-renderer==1.9.1
dash-table==3.1.11
Flask==2.0.3
Flask-Compress==1.14
greenlet==2.0.2
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
packaging==21.3
plotly==5.18.0
pyparsing==3.1.1
six==1.16.0
SQLAlchemy==1.4.50
tenacity==8.2.2
typing-extensions==4.1.1
Werkzeug==2.0.3
zipp==3.6.0